// Colors
$main-background-color: #ffffff;
$secondery-background-color: #2f303a;
$hover-color: #2196f3;
$paragraphs-color: #212121;
$text-color: #757575;
$header-logo-color: #000000;
$team-background-color: #f5f4fa;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$portfolio-button-background-color: #f5f4fa;